<div class="container">
<form name="myForm" >

	<h1>vote for technology</h1>


	<div class={{message.class}} role="alert" ng-show=message>{{message.text}}</div>

	<table class="table table-striped">
		<tr ng-repeat="o in options">

			<td><input type="radio" ng-model=voter.vote value={{o.name}}></td>
			<td><i class={{o.class}} ></i> {{o.name}}</td>
			<td>{{o.description}}</td>


		</tr>
	</table>



	email : <input type="email" ng-model=voter.email />



	<a ng-href="" ng-disabled="voted" ng-click='callVote()' class="btn btn-primary">submit</a>
</form>




<div class="row">
	<p>Number of people voted : {{votes.length}}</p>
</div>	

<div class="row">

	<p> Node : <a href='' ng-repeat='v in votes | filter: Node '>  <i class='fa fa-beer'></i></a>
	<p> JavaEE : <a href='' ng-repeat='v in votes | filter: JavaEE '>  <i class='fa fa-coffee'></i></a>
	

</div>	





</div>







